{
    "presets": ["es2015"],
    "plugins": ["transform-runtime", "add-module-exports"],
    "ignore": "test",
    "env": {
        "development": {
            "sourceMaps": "inline"
        }
    }
}
